@import "reset.css";

.wrap {
    width: 1024px;
    margin: 0 auto;
    font-family: 'Noto Sans', sans-serif;
    border: 1px solid black;
}

.content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background: #364d3b;
}

.card {
    text-align: center;
    width: 32%;
    height: auto;
    display: flex;
    flex-direction: column;
    background: white;
}

.card-title {
    font-size: 60px;
    color: #364d3b;
    padding: 90px 0;
    background: #e7eeea;
}

.card-body {
    padding: 20px;
}

.card-body h2 {
    font-size: 22px;
    font-weight: bold;
    margin: 20px 0;
    color: #364d3b;
}

.card-body p {
    text-align: left;
    font-size: 18px;
    padding: 10px;
}