@import "reset.css";

.wrap {
    margin: 0 auto;
    width: 1024px;
}

.header {
    background: #EAF0Ed;
    display: flex;
    justify-content: space-between;
    padding: 18px 50px;
}

.header .menu {
    display: flex;
    color: #37523d;
    font-weight: bold;
    padding: 20px 0px;
}

.menu-item {
    margin-left: 10px;
}

.content {
    width: 600px;
    margin: 75px auto;
}

h1 {
    font-size: 2em;
    font-weight: bolder;
    line-height: 2;
}

p {
    font-size: 1em;
    font-weight: bold;
    line-height: 1.4;
}

.content img {
    margin: 20px 0;
}

.footer {
    background: #37523d;
    color: white;
    display: flex;
    padding: 20px 0;
    justify-content: center;
}

.footer ul{
    display: flex;
}