@import "reset.css";

.wrap {
    width: 1024px;
    margin: 0 auto;
}

h1 {
    font-size: 24px;
    font-weight: bold;
    line-height: normal;
    margin: 10px 0;
}

li {
    list-style-type: decimal;
}

.header {
    text-align: center;
}

.content {
    padding: 50px;
}

.content li {
    margin-bottom: 15px;
}

.footer {
    padding: 50px;
}