@import "reset.css";

.wrap {
    width: 1024px;
    margin: 0 auto;
    display: flex;
    border: 1px solid gray;
}

.sibar {
    background: #e7eeea;
    width: 33%;
}

.logo {
    margin-top: 75px;
    padding: 0 10px;
}

.menu {
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    color: #3d523d;
}

.menu-item {
    margin-top: 30px;
}

.content {
    margin: 80px 0px;
    padding: 0 50px;
    line-height: 1.6;
    width: 67%;
}

.content h1 {
    font-size: 2em;
    font-weight: bolder;
    color: #3d523d;
}

.content p {
    font-size: 1.2em;
    font-weight: 300;
}

.album {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    justify-content: space-between;
}

.album img {
    border-radius: 10px;
    padding: 1px;
}