@import "reset.css";

.wrap {
    margin: 0 auto;
    width: 1024px;
    display: flex;
    justify-content: space-between;
}

.card {
    width: 50%;
    background: #e7eeea;
    margin: 10px;
    padding: 150px 0;
    border-radius: 5px;
}

.logo {
    text-align: center;
}

.card-content {
    padding: 20px;
    color: #3f5c46;
}

.card-content h1 {
    font-size: 2em;
    font-weight: bolder;
    margin: 20px 0;
}

.card-content h2 {
    font-size: 1.5em;
    font-weight: bolder;
    margin: 20px 0;
}

.card-content p {
    font-size: 1.2em;
    color: black;
    padding-right: 30px;
    font-weight: bold;
    line-height: 1.2;
}