@import "reset.css";

.wrap {
    margin: 0 auto;
    padding: 20px 100px;
}

.left {
    background: #e7eeea;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-bottom: 50px;
}

.left .logo {
    width: 60px;
    height: 60px;
}

.left-item {
    display: flex;
    margin-right: 30px;
}

.left-item .content {
    padding: 0 10px;
}


h2 {
    font-size: 1.6em;
    font-weight: bold;
    line-height: 1.8;
}

.top {
    background: #e7eeea;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    text-align: center;
}

.top-item {
    padding: 50px;
}

.row {
    background: #e7eeea;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.row .logo {
    margin: 10px 20px;
}

.row-left {
    display: flex;
    flex-direction: row;
    margin-right: 50px;
}

.row-right {
    display: flex;
    flex-direction: row-reverse;
    margin-left: 50px;
}

.row .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}